@model Models.Productos
@{
    ViewBag.Title = "Borrar";
}
<h2>Eliminar Producto</h2>
<h3>¿Está seguro que desea eliminar el producto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.CategoriaID)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CategoriaID)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.Popularidad)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Popularidad)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.ImagenURL)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ImagenURL)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a Administración de Productos", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>