@model IEnumerable<Models.Productos>
@{
    ViewBag.Title = "Administración de Productos";
}

<h2>Lista de Administración de Productos</h2>
@Html.ActionLink("Agregar Producto", "Create", "AdminProductos", new { @class = "btn btn-primary" })
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popularidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenURL)
        </th>
        <th>
            Acciones
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popularidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenURL)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ProductoID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalles", "Details", new { id = item.ProductoID }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
