@model IEnumerable<Models.Productos>

@{
    ViewBag.Title = "Productos";
}

@Html.ActionLink("Buscar Producto por Codigo", "BuscarCodigo", "Productos", new { @class = "btn btn-primary" })
@Html.ActionLink("Buscar Producto por Nombre", "BuscarNombre", "Productos", new { @class = "btn btn-primary" })

<h2>Lista de Productos</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Popularidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenURL)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popularidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenURL)
            </td>
        </tr>

    }
</table>